body {
  background-color: #1C1C1E;
  font-family: "Times New Roman", Times, serif;
  color: #ff69b4;
}

footer{
  background-color: #160d08;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
